@import url(/src/Components/global.css);

.logo {
    height: 18vh;
    max-width: 100%;
    position: relative;
    top: 10%;
    left: 4%;
    transform: translate(-50%, -50%);
    z-index: 8;
}

.land_Container {
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
}

.land_Img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;

    .image {
        position: absolute;
        width: 100%;
        height: auto;
        max-width: 100%;
        pointer-events: none;

        &.image:nth-child(1) {
            z-index: 1;
        }

        &.image:nth-child(2) {
            z-index: 2;
            transform: translate(0%, -8%);
        }

        &.image:nth-child(3) {
            z-index: 3;
            transform: translate(0%, 35%);
        }

        &.image:nth-child(4) {
            width: 42%;
            z-index: 4;
            transform: translate(0%, 210%);
        }

        &.image:nth-child(5) {
            width: 35%;
            z-index: 4;
            transform: translate(185.8%, 218%);
        }


        &.image:nth-child(6) {
            width: 20%;
            z-index: 5;
            transform: translate(92%, 555%);
        }

        &.image:nth-child(7) {
            width: 20%;
            z-index: 5;
            transform: translate(240%, 555%);
        }

        &.image:nth-child(8) {
            width: 5%;
            z-index: 10;
            transform: translate(56rem, 21rem);            
        }

        &.image:nth-child(9) {
            width: 7%;
            z-index: 10;
            transform: translate(15rem, 0rem);
        }
    }
}

.land_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-family: var(--h2);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    z-index: 1;
  
    span {
      line-height: 1.3;
      color: var(--third-color);
      font-family: var(--h1);
      font-size: 2.5rem;
    }
  }
  