.temperature-container {
    background: linear-gradient(180deg, rgb(118, 237, 233) 0%, rgb(94, 197, 210) 49.5%, rgb(68, 157, 186) 100%);
    height: 200vh;

    .header {
        height: 80px;
        width: 100%;
        background: linear-gradient(to left, rgba(3, 136, 169, 1), rgba(20, 59, 68, 1));
        display: flex;
        align-items: center;

        .user-container {
            position: relative;

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
                transition: background-color 0.3s ease-in-out;
            }

            .Astro-logo {
                position: absolute;
                transform: translateY(-50%);
                width: auto;
                height: 90px;
            }

            .User {
                position: absolute;
                top: calc(18% + 0px);
                right: -94rem;
                transform: translateY(-50%);
                width: auto;
                height: 65px;
                display: inline-block;

                &:hover {
                    transform: translateY(-50%) scale(1.10);
                    transition: transform 0.3s ease;
                }
            }
        }

        .dropdown {
            position: absolute;
            top: calc(8% + 18px);
            left: 93%;
            transform: translateX(-50%);
            background-color: rgba(255, 255, 255, 0.9);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            font-size: 18px;
            font-weight: bold;
            width: 150px;
            border-radius: 5px;
            backdrop-filter: blur(10px);
            z-index: 1;

            button {
                padding: 10px;
                cursor: pointer;
                text-align: center;
                width: 100%;
                background-color: #e74c3c;
                color: #fff;
                font-weight: bold;
                border: none;
                border-radius: 5px;
                transition: background-color 0.3s ease-in-out;

                &:hover {
                    background-color: rgba(20, 59, 68, 1);
                }
            }

            p {
                color: #333;
                margin: 10px;
            }
        }
    }

    @media (max-width: 768px) {
        .user-container {
            .User {
                left: 50%;
                top: calc(12% + 20px);
                transform: translateX(-50%);
            }
        }

        .dropdown {
            left: 50%;
            top: calc(12% + 20px);
            transform: translateX(-50%);
        }
    }

    .temp-section {
        position: relative;
        color: white;

        .temp-photo {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }

        .temp-heading {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: linear-gradient(rgba(20, 59, 68, 1), rgba(17, 36, 44, 0.94), rgba(20, 59, 68, 1));
            font-family: var(--paragraph);
            padding: 20px;
            border-radius: 10px;
            text-align: center;

            h1 {
                margin: 0;
                font-size: 2.2em;

                @media (max-width: 768px) {
                    font-size: 1.5em;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .temp-section {
            .temp-photo {
                height: auto;
            }
        }
    }

    .container {
        position: relative;
        height: 40vh;
        top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        width: 70%;
        margin: 0 auto;

        @media (max-width: 768px) {
            flex-direction: column;
            height: auto;
        }

        .desc {
            width: 50%;
            text-align: justify;
            background-color: rgba(21, 56, 65, 1);
            padding: 25px;
            border-radius: 20px;
            font-family: var(--paragraph);
            color: white;

            h3 {
                font-size: 1.5rem;
                margin-bottom: 10px;
            }

            p {
                font-size: 1rem;
            }
        }


        .image-container {
            width: auto;

            @media (max-width: 768px) {
                width: 100%;
            }

            .image {
                width: 100%;
                height: 300px;
                filter: drop-shadow(30px 10px 4px #00000044);
            }
        }
    }

    .temp-head {
        position: relative;
        top: 13%;
        font-family: var(--paragraph);
        text-align: center;
        color: rgba(5, 28, 33, 1);
        cursor: pointer;

        h1 {
            font-size: 2rem;
            margin-bottom: 10px;
        }

        p {
            width: 40%;
            margin: 0 auto;
            line-height: 1.5;
            font-weight: 500;
        }
    }

    .tabs-container {
        position: relative;
        top: 15%;
        height: 50vh;
        width: 70%;
        margin: 0 auto;
        background: rgba(76, 0, 255, 0.253);
        border-radius: 10px;

        .tabs {
            height: 15%;
            width: 80%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-around;
            color: black;
            background-color: rgba(36, 84, 89, 1);
            font-family: var(--paragraph);
            font-weight: bold;
            border-radius: 10px;

            .tab {
                cursor: pointer;
                padding: 10px 20px;
                background-color: rgba(99, 206, 215, 1);
                border: 1px solid #ccc;
                border-radius: 5px;
                user-select: none;
                height: 80%;
                display: flex;
                align-items: center;

                &:hover {
                    background-color: #ff0000;
                }

                &.active {
                    background-color: #e0e0e0;  // Adjust styles for active tab
                  }
            }
        }

        .tab-content {
            display: none;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 0 0 5px 5px;
            width: 100%;

            &.active {
                display: block;
            }
        }
    }

















}