.header {
    height: 80px;
    width: 100%;
    background: linear-gradient(to left, rgb(3, 136, 169), rgb(20, 59, 68));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    .logo-container {
        display: flex;
        align-items: center;
        cursor: pointer;

        .logo {
            width: 250px;
            height: auto;
            margin-right: 10px;
        }

        h1 {
            font-size: 24px;
            color: #ffffff;
            font-weight: bold;
            margin: 0;
        }
    }

    .user-container {
        position: relative;
        cursor: pointer;

        .user-icon {
            width: 60px;
            height: auto;
            border-radius: 50%;
        }

        .dropdown {
            position: absolute;
            top: calc(100% + 10px);
            right: 0;
            background-color: #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 200px;
            border-radius: 5px;
            padding: 10px;
            z-index: 1;

            p {
                color: #000000;
                font-size: 16px;
                margin: 0 0 10px 0;
                font-weight: bold;
            }

            button {
                width: 100%;
                padding: 10px;
                background-color: #e76f51;
                color: #ffffff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease-in-out;

                &:hover {
                    background-color: #ff9f68;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        padding: 0 10px;
    }

    .logo-container {
        .logo {
            width: 100px;
        }

        h1 {
            font-size: 20px;
        }
    }

    .user-container {
        .user-icon {
            width: 30px;
        }

        .dropdown {
            width: 150px;
        }
    }
}