.post {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to left, rgb(3, 136, 169), rgb(20, 59, 68));
  color: #fff;
  font-family: Arial, sans-serif;
  margin-bottom: 40px;
  h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  button{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 20px;
    background-color: rgba(44, 202, 242, 0.388);
    border: 1px solid rgb(44, 202, 242);
    color: white;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 15px;
  }
}

.post-container {
  display: flex;
  flex-direction: column;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.user-name {
  font-weight: bold;
}

.content {
  margin-top: 10px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  resize: none;
}

.photo-container {
  position: relative;

  img {
    width: 100%;
  }
}

.photo-container input[type="file"] {
  display: none;
}

.photo-placeholder {
  width: 100%;
  height: 200px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 16px;
}

.comment-field {
  height: 100px;
}

@media screen and (max-width: 600px) {
  .post {
    max-width: 100%;
  }
}


.comment-container {
  width: 400px;
  height: 100vh;
  overflow-y: hidden;
  position: fixed;
  right: -100%;
  top: 0;
  background: linear-gradient(to left, rgb(3, 136, 169), rgb(20, 59, 68));
  box-shadow: -10px 10px 10px rgba(3, 136, 169, 0.5);
  transition: all 0.5s ease-in-out;
  padding-right: 10px;
  &.active{
    right: 0;
  }
  .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    span{
      font-size: 24px;
      cursor: pointer;
      width: 30px;
      height: 30px;
      border: 2px solid white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .comments {
    width: 100%;
    padding: 20px 30px;
    max-height: calc(100% - 150px);
    min-height: calc(100% - 150px);
    overflow-y: auto;

    .comment {
      display: flex;
      gap: 15px;
      margin-bottom: 30px;

      .image {
        min-width: 50px;
        max-width: 50px;
        min-height: 50px;
        max-height: 50px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-items: center;
        img{
          width: 100%;
        }
      }

      .text-container {
        padding: 10px 20px;
        border-radius: 6px;
        border: 2px solid rgb(44, 202, 242);
        background-color: rgba(44, 202, 242, 0.388);
        h6{
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 5px;
        }
        p{
          font-size: 14px;
        }
      }
    }
  }

  .comments::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  .comments::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Color of the track */
  }
  
  .comments::-webkit-scrollbar-thumb {
    background: rgb(44, 202, 242); /* Color of the thumb */
    box-shadow: 2px 2px 10px rgb(0, 187, 255);
    border-radius: 5px; /* Radius of the thumb */
  }
  
  .comments::-webkit-scrollbar-thumb:hover {
    background: rgb(44, 202, 242); /* Color of the thumb on hover */
  }

  .add-comment {
    width: 100%;
    height: 80px;
    padding: 10px 30px;
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
    align-items: center;

    .image {
      min-width: 50px;
      max-width: 50px;
      min-height: 50px;
      max-height: 50px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.5);
      align-self: flex-start;
    }

    textarea {
      padding: 10px 20px;
      border-radius: 6px;
      border: 2px solid rgb(24, 187, 227);
      background-color: rgb(141, 227, 251);
      width: 100%;
      height: 100%;
      font-size: 16px;
      color: black;
      resize: none;
      outline: none;
    }
    button{
      min-width: 40px;
      max-width: 40px;
      min-height: 40px;
      max-height: 40px;
      border-radius: 50%;
      background-color: rgb(20, 59, 68);
      color: white;
      border: none;
      outline: none;
      font-size: 16px;
      cursor: pointer;
    }
  }
}