@import url('/src/Components/global.css');

.test_Text {
    position: relative;
    z-index: 4;
    font-size: 2.9rem;
    margin-bottom: 3rem;
    color: #69D4DF;
    font-family: var(--h1);
    padding: 8vw;
}

.testimonial {
    width: 60%;
    overflow: hidden;
    position: relative;
    z-index: 4;
    margin: auto;
    margin-top: -8rem;

.test_Container {
    position: relative;
    display: flex;
    transition: transform 0.5s ease;
    overflow-x: hidden;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.23);
    backdrop-filter: blur(10px);
    border: 10px solid #69D4DF;
    border-top-width: 30px; 
    border-radius: 20px;



    .slide {
        position: relative;
        flex: 0 0 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.5s ease;
        z-index: 1;

        &.active {
            opacity: 1;
        }

        .content-container {
            position: relative;
            padding: 5rem;
            border-radius: 2rem;
            max-width: 60%;
            text-align: justify;

            h1 {
                font-size: 1.8em;
                margin-bottom: 1rem;
                color: #d2d0d0;
                font-family: var(--h1);
            }

            p {
                width: 65vh;
                font-size: 1.1em;
                margin-bottom: 2rem;
                color: #bdbaba;
                font-family: var(--paragraph);
            }

            .slide-button {
                background-color: #0E4C75;
                color: #fff;
                border: none;
                padding: 1rem 2rem;
                font-size: 1.2rem;
                cursor: pointer;
                border-radius: 0.5rem;
                transition: background-color 0.3s ease, transform 0.2s ease; // Added transform for hover effect

                &:hover {
                    background-color: #69D4DF;
                    color: #000000;
                    font-weight: bold;
                    transform: translateY(-2px);
                }
            }
        }
    }
}

    .slide-image {
        position: relative;
        max-width: 30%;
        height: auto;
        border-radius: 2rem;
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
        transition: transform 0.5s ease; 
    }
}

.tv-stand {
    position: relative;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px; 
    height: 50px; 
    background-color: #69D4DF;
    border-radius: 10px; 
    z-index: 5;
}