@import url(/src/Components/global.css);

.t_Welcome {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 100px;
    text-align: center;
    width: 100%;
    color: var(--secondary-color);
  
    h1 {
      font-size: 2.8rem;
      font-family: var(--h1);
      z-index: 9;
  
    }
  
    p {
      font-size: 1.3rem;
      margin-bottom: 2rem;
      font-family: var(--h3);
      z-index: 9;
      padding: 0px 330px;
    }
  }