.netlink-heading {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .IoT {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }

    .netlink-content {
        position: absolute;
        top: 30%;
        left: 10%;
        max-width: 450px;
        font-family: var(--paragraph);
        
        h2 {
            font-size: 2rem;
            color: #ffffff;
            margin-bottom: 10px;
        }

        p {
            font-size: 1.2rem;
            color: #cdc7c7;
            margin-bottom: 20px;
            text-align: justify;

        }
    }
}