@import url(/src/Components/global.css);

.display {
  background: black;
  height: 10%;
  width: 100%;
  background-color: red;

  .navigation {
    position: fixed;
    height: 72vh;
    width: 6%;
    left: 1%;
    top: 23%;
    border-radius: 10px;
    box-sizing: initial;
    transition: width 0.5s;
    overflow-x: hidden;
    z-index: 5;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.455);
    p{
      text-overflow: ellipsis; 
      overflow: hidden; 
      white-space: nowrap;
    }
    @media (max-width: 768px) {
      width: 100%;
      left: 0;
      top: 0;
      height: 100vh;
      border-radius: 0;
    }

    .weather {
      position: relative;
      top: 70px;
      width: 100%;
      color: var(--secondary-color);

      svg {
        display: flex;
        font-size: 2.5rem;
        margin-left: 20px;
        margin-top: -50px;
      }

      span {
        position: relative;
        display: fixed;
        display: block;
        top: -25px;
        left: 89px;
        font-family: var(--paragraph);
        font-weight: bold;
      }

      p {
        position: fixed;
        display: block;
        top: 13%;
        left: 18px;
        font-weight: bold;
        font-family: var(--paragraph);
        z-index: 2;
      }

      .loading {
        display: flex;
        position: relative;
        font-weight: bold;
        font-family: var(--paragraph);
      }
    }

    &:hover,
    &.active {
      width: 12%;
    }
  }
}

.Nav_Body {
  position: fixed;
  display: block;
  margin-top: 5rem;
  list-style: none;
  padding: 20px;
  line-height: 60px;

  li {
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;

    @media (max-width: 768px) {
      width: 100%;
    }

    &:hover {
      background-color: var(--fourth-color);
      width: 160px;

    }

    &.active {
      background-color: var(--fourth-color);
      color: white;
      width: 160px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    
    .icon-and-text {
      display: flex;
      color: white;
      margin-top: 12px;

      .icon {
        font-size: 35px;
        margin-right: 40px;
      }

      .text {
        margin-top: -6px;
        font-size: 20px;
        font-weight: bold;
        font-family: var(--paragraph);
      }

    }
  }
}