@import url(/src/Components/global.css);

.Nav_Body {
  position: fixed;
  list-style: none;
  padding: 20px;
  line-height: 60px;
  height: 68vh;
  width: 3%;
  left: 1%;
  top: 155px;
  border-radius: 10px;
  box-sizing: initial;
  transition: width 0.5s;
  overflow-x: hidden;
  z-index: 5;
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.415);

  &:hover,
  &.active {
    width: 10%;
  }

  li {
    position: relative; 
    cursor: pointer;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;

    .icon-and-text {
      display: flex;
      color: white;
      margin-top: 12px;

      .icon {
        font-size: 35px;
        margin-right: 40px;
      }

      .text {
        margin-top: -6px;
        font-size: 20px;
        font-weight: bold;
        font-family: var(--paragraph);
      }
    }

    &:hover {
      background-color: rgba(105, 212, 223, 1);
      width: 100%;
    }

    &.active {
      background-color: rgba(14, 76, 117, 1);
      color: white;
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    .Nav_Body {
      width: 100%;
      top: 0;

      .weather {
        top: 10px;

        svg {
          margin-top: 0;
        }

        span {
          top: 0;
          left: 15px;
        }

        p {
          top: 70px;
          left: 15px;
        }
      }

      &:hover,
      &.active {
        width: 100%;
      }
    }

    li {
      &:hover {
        width: 100%;
      }
    }
  }
}
