@import url('/src/components/global.css');

.livePage {
  font-family: 'Arial', sans-serif;
  color: #333;
}

.liveBackground {
  background: linear-gradient(180deg, rgb(118, 237, 233) 0%, rgb(94, 197, 210) 49.5%, rgb(68, 157, 186) 100%);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.liveContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #245459;
  max-width: 80%;
  margin: 0 auto;
  border-radius: 4px;
}

.livePhoto {
  max-width: 100%;

  @media screen and (min-width: 768px) {
    max-width: 50%;
  }

  @media screen and (min-width: 1024px) {
    max-width: 45%;
  }
}

.liveDescription {
  width: 100%;
  max-width: 45%;
  padding: 20px;
  color: white;
  text-align: justify;

  h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    line-height: 1.4;
  }

  .connectionTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 12px;
    }

    th {
      background-color: #26c1d987;
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 50%;
  }

  @media screen and (min-width: 1024px) {
    max-width: 55%;
  }
}

.watchLiveBtn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border: none;
  outline: none;
  background-color: #63CED7;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  border-radius: 5px;
  transition: all ease 0.3s;
  cursor: pointer;
  margin-top: 20px;

  &:hover {
    background-color: #00ddff;
    color: rgba(255, 255, 255, 0.927);
  }
}
