.temperature-container {
    background: linear-gradient(180deg, rgb(118, 237, 233) 0%, rgb(94, 197, 210) 49.5%, rgb(68, 157, 186) 100%);
    height: 230vh;

    .temp-section {
        position: relative;
        color: white;

        .temp-photo {
            width: 100%;
            height: 400px;
            object-fit:fill;
        }

        .temp-heading {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: linear-gradient(rgba(20, 59, 68, 1), rgba(17, 36, 44, 0.94), rgba(20, 59, 68, 1));
            font-family: var(--paragraph);
            padding: 20px;
            border-radius: 10px;
            text-align: center;

            h1 {
                margin: 0;
                font-size: 2.2em;

                @media (max-width: 768px) {
                    font-size: 1.5em;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .temp-section {
            .temp-photo {
                height: auto;
            }
        }
    }

    .container {
        position: relative;
        height: 40vh;
        top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        width: 70%;
        margin: 0 auto;

        @media (max-width: 768px) {
            flex-direction: column;
            height: auto;
        }

        .desc {
            width: 50%;
            text-align: justify;
            background-color: rgba(21, 56, 65, 1);
            padding: 25px;
            border-radius: 20px;
            font-family: var(--paragraph);
            color: white;

            h3 {
                font-size: 1.5rem;
                margin-bottom: 10px;
            }

            p {
                font-size: 1rem;
            }
        }


        .image-container {
            width: auto;

            @media (max-width: 768px) {
                width: 100%;
            }

            .image {
                width: 100%;
                height: 300px;
                filter: drop-shadow(30px 10px 4px #00000044);
            }
        }
    }

    .temp-head {
        position: relative;
        top: 150px;
        font-family: var(--paragraph);
        text-align: center;
        color: rgba(5, 28, 33, 1);
        cursor: pointer;

        h1 {
            font-size: 2rem;
            margin-bottom: 10px;
        }

        p {
            width: 40%;
            margin: 0 auto;
            line-height: 1.5;
            font-weight: 500;
        }
    }

    .tabs-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        background-color: rgba(36, 84, 89, 1);
        position: relative;
        top: 195px;
        font-weight: bold;
        font-family: var(--paragraph);
        height: 460px;

        .tabs {
            background: linear-gradient(180deg, rgb(118, 237, 233) 0%, rgb(94, 197, 210) 49.5%, rgb(68, 157, 186) 100%);
            height: 70px;
            width: 60%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 8px;

            .tab {
                padding: 15px 25px;
                cursor: pointer;
                font-size: 18px;
                color: #333;
                background-color: #f4f4f4;
                border: 1px solid #ccc;
                border-radius: 8px;
                transition: background-color 0.3s, color 0.3s;

                &.active {
                    color: #fff;
                    background-color: rgba(14, 76, 117, 1);
                }

                &:hover {
                    background-color: #122443;
                    color: rgb(255, 255, 255);
                }
            }
        }

        .sub-tabs {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 40px;
            height: auto;
            width: 12%;
            right: 24%;

            .sub-tab {
                width: 100%;
                padding: 15px 25px;
                margin-top: 30px;
                cursor: pointer;
                font-size: 16px;
                color: #555;
                background-color: #e6e6e6;
                border: 1px solid #ccc;
                border-radius: 5px;
                transition: background-color 0.3s, color 0.3s;

                &.active {
                    color: #fff;
                    background-color: rgba(14, 76, 117, 0.437);
                }

                &:hover {
                    background-color: #0a1a33;
                    color: rgb(255, 255, 255);
                }
            }
        }

        .tab-content {
            display: none;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s;
            width: 499px;
            position: relative;
            top: -18rem;
            left: 100px;

            &.active {
                display: block;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            }

            p {
                margin: 0;
            }

            iframe {
                width: 100%;
                height: 250px;
                border: 1px solid #ccc;
            }
        }

        .tab,
        .sub-tab,
        .tab-content {
            &:hover {
                cursor: pointer;
            }
        }
    }

    .app {
        margin-top: 260px;
    }


}